<h1>Submit review for <%= @location %>!</h1>
<form action="/review/create" method="post">
  <div class="form-group">
    <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="9">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
  </div>
  <div class="form-group">
    <label>Favorite Part about <%= @location %></label>
    <input type="text" class="form-control" placeholder="Enter something nice!" name="favorite">
  </div>
  <div class="form-group">
    <label>Least Favorite Part about <%= @location %></label>
    <input type="text" class="form-control" placeholder="Enter something you didn't like!" name="worst">
  </div>
  <button type="submit" class="btn btn-primary">Submit Review!</button>
</form>