
<h1>Please edit event for "<%= @event[:name] %>"</h1>

<form action="/event/<%= @event[:id] %>/update" method="post">
  <div class="form-group">
    <label>Event Name</label>
    <input type="text" class="form-control" placeholder="Enter Name Here" name="name">
  </div>
  <div class="form-group">
    <label>Event Date</label>
    <input type="date" class="form-control" placeholder="3-22-20" name="date">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Enter Description" name="description">
  </div>
  <input type="hidden" name="location" value="<%= @location %>"">
  <button type="submit" class="btn btn-primary">Update Event!</button>
</form>