<div class="row">
  <div class="col text-center">
    <img src="http://images.clipartpanda.com/stop-sign-clipart-119498958977780800stop_sign_right_font_mig_.svg.med.png">

    <h1 class='mt-5'>There is a user already registered with that email. Please try again with a different email.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>