<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the He@tM@P</h1>
    <p class="lead">Enter a city in the top right to see user-submitted events and reviews for a city!</p>
  </div>
</div>